.g-button-small {
	height: 22px;
	width: auto;
	-webkit-border-radius: 2px 2px;
	border: solid 1px rgb(153, 153, 153);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(255, 255, 255) ),
		to(rgb(221, 221, 221) ) );
	color: #333;
	text-decoration: none;
	cursor: pointer;
	text-align: center;
	line-height: 1;
}

.g-button-small:hover {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(255, 255, 255) ),
		to(rgb(200, 200, 200) ) );
	box-shadow: 0pt 2px 2px rgba(0, 0, 0, 0.1);
	background-color: #e8e8e8;
}

a:hover IMG {
	border-bottom: 1px solid #000;
}

.albums {
	color: #000;

}

.albums:hover {
	color: #127515;
}

#navigator {
	list-style: none;
	padding: 0; margin: 0;

	overflow: auto;
}
#navigator span {
	float: left;
	margin-right: 5px;
}
#navigator a {
	margin-right: 4px;
	float: left;
	display: inline;
	padding: 0.3% 5px;
	color: #000;
}

#navigator span a {
	display: inline-block;
	padding: 0px 5px;
	border: solid 1px #000;
	color: #000;
	text-decoration:none;
}

#navigator a:hover {
	background: #000;
	color: white;
	text-decoration: none;
}

#navigator span a:hover {
	background: #000;
	color: white;
	text-decoration: none;
}

#navigator span span {
	padding: 2px 1px 1px 5px;
	font-size: 12pt;
}

.dataview tr:nth-child(odd) {
    background: #f2f2f2;
}

.dataview {
border-spacing: 0px;
}

.dataview td {
padding: 5px;
}