.g-button-big {
	height: 36px;
	width: 205px;
	-webkit-border-radius: 2px 2px;
	border: solid 1px rgb(153, 153, 153);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(255, 255, 255) ),
		to(rgb(221, 221, 221) ) );
	color: #333;
	text-decoration: none;
	cursor: pointer;
	text-align: center;
	line-height: 1;
}

.g-button-big:hover {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(255, 255, 255) ),
		to(rgb(200, 200, 200) ) );
	box-shadow: 0pt 2px 2px rgba(0, 0, 0, 0.1);
	background-color: #e8e8e8;
}

#linkBlack {
	color: black;
}

#checkBox {
	text-align: left;
}

#linkBlackSmall {
	color: black;
	font-size: 10pt;
}